.top-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
  }
  
  .content-overlay {
    position: relative;
    z-index: 1; 
    color: rgb(13, 13, 13);
    text-align: center;
    top: 50%;
    transform: translateY(-50%); 
    
  }
  
  .content-overlay h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .content-overlay p {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  
  .content-overlay button {
    padding: 10px 20px;
    font-size: 1rem;
    color: rgb(18, 2, 2);
    background-color: #08d87a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .content-overlay button:hover {

    box-shadow: 0 0 20px rgba(102, 0, 255, 0.6), 
                    0 0 30px rgba(50, 7, 167, 0.4), 
                    0 0 40px rgba(38, 3, 102, 0.2);
    transform: scale(1.05);
  }
  