.home {
    width: 100%;
    height: 300vh;
    display: flex;
    flex-direction: column;
    text-align: center;
 
}
.hom-pattion {
    width: 100%;
}
.first {
    flex: 1;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
 
}
.first h1 {
    color: white;
    font-size: 55px;
    text-align: center;
}
.first p {
    color: white;
    font-size: 45px;
    text-align: center;
}
.backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% ;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.container-overlay {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
.container-overlay h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}
.container-overlay button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.container-overlay button:hover {
    box-shadow: 0 0 20px rgba(102, 0, 255, 0.6), 
                    0 0 30px rgba(50, 7, 167, 0.4), 
                    0 0 40px rgba(38, 3, 102, 0.2);
    transform: scale(1.05);
}
.second {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    line-height: 20px;
}
.second h2 {
    color: red;
}
.second h3 {
    color: rgb(59, 58, 58);
    font-size: 55px;
    font-weight: bold;
}
.second p {
    font-size: 20px;

}
.partion {
    flex: 1;
}
.partion ul {
    list-style: none;
    display: inline-flex;
    
}
.partion ul li {
    margin: 20px;
}
.partion img {
    width: 80%;
}
.third {
    flex: 1;
    background-color: silver;

}
.fourth {
    flex: 1;
    display: flex;
    flex-direction: row;
    text-align: center;
  

}

.fourth h2 {
    color: rgb(59, 58, 58);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.fourth-partions {
    flex: 1;
   
}
.fourth-partioni {
    flex: 2;

    
}
.fourth-partioni p {
    font-size: 29px;
    line-height: 32px;
    text-align: justify;
    font-weight: 100;
    
}
.fourth-partions img {
    width: 60%;
}
.buttton {
    background-color: yellow;
    padding: 15px 48px;
    border-radius: 98px;
    font-weight: bold;
    color: black;
}
.buttton:hover {
    background-color: rgb(237, 17, 17);

}

